
body {
    background-color: #f7f8fa;
}
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #d5d6d7;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: background-color 0.3s;
}
.general {
    padding: 15px;
    color: rgb(0, 0, 0);
    background-color: #858585;
}
.sidebar a:hover{
    background-color: #94949452;
    color: black;
}
.sidebar .nav-item i {
    margin-right: 10px;
}
.content {
    margin-left: 250px;
    padding: 20px;
    background-color: #f7f8fa;
    min-height: 100vh;
    width: calc(100% - 250px);
}

.admin_details{
    color: rgb(255, 255, 255);
    background-color: rgb(54, 61, 63);
}
#searchInput{
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
    margin-bottom: 12px;
}
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.navbar .nav-link {
    color: #343a40;
}
.navbar .nav-link:hover {
    color: #000000;
}
.table thead th {
    background-color: #4c4c4c;
    color: #fff;
    text-align: center;
}
.table tbody tr:hover {
    background-color: #f1f1f1;
}

.dropdown-menu{
    min-width: 120px;
}

.table-responsive {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.table th, .table td {
    padding: 0.75rem;
    text-align: center;
    vertical-align: middle;
}
.table td:first-child, .table th:first-child {
    width: 13%;
}

.modalbg{
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 32rem; 
    background-color: white;
}
.modalAdminCategory {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.closeCategory {
    color: #aaa;
    text-decoration: none;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeCategory:hover,
.closeCategory:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* delete category */

.modaldeleteCategory {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.closedeleteCategory {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closedeleteCategory:hover,
.closedeleteCategory:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* delete student */
.modaldeleteStudent {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.closedeleteStudent {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closedeleteStudent:hover,
.closedeleteStudent:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalChangeState {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modalbgstate{
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 20rem; 
    background-color: white;
}
.closeChangeState {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}
.closeChangeState:hover,
.closeChangeState:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* show loading */

.modalloadingbg{
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    max-width: 32rem; 
    background-color: white;
    text-align: center;
}

.modalshowloading {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

