
.dropdown-menu {
  min-width: fit-content;
}

/* css for homepage */
body {
  margin: 0;
  padding: 0;
  background-color: #f6eec9;
}

.container {
  border-radius: 5px;
  width: 100%;
}

.image {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  margin-top: 20px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem 2rem;
}

@media screen and (max-width: 567px) {
  .card:not(:first-child) {
      display: none;
  }
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.complaintform {
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-caption {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
  color: #6c757d;
}

/* css for about us page */

.about{
  margin: 10px;
}
.about .row {
  margin: 10px 0 10px 0;
}
.about .row .col img{
  width: 600px;
  height: 300px;
}

@media screen and (max-width: 567px) {
  .about .row .col img{
      width: 400px;
      height: 200px;
      padding: 10px;
  }
}

/* css for footer */
.footer-container a{
  color: black;
  text-decoration: none;
}

/* css for contact us page */

.text-muted {
  color: lightgrey;
}
.text-left {
  text-align: left !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.btn-dark {
  color: #fff !important;
  background-color: #343a40 !important;
  transition: background-color 0.3s ease;
}
.btn-dark:hover {
  background-color: #141414 !important;
}
.text-dark {
  color: #101111 !important;
}

/* show alert */
.modalalert {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modalbg{
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  max-width: 32rem; 
  background-color: white;
}

.closealert {
  color: #aaa;
  text-decoration: none;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closealert:hover,
.closealert:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
