{% extends "adminlayout.html" %} {% block title %}Complaint Page{% endblock%} 
{% block content %}

<h2 class="my-3">Complaint List</h2>
  <div class="p-3 mb-5 rounded table-responsive">
    <div class="d-flex justify-content-between mb-5">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="float:right">
          filter issue
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/viewComplaints">All</a></li>
          {% for category in allcategories %}
            <li><a class="dropdown-item" href="/filterCategory/{{category.id}}">{{category.cat_name}}</a></li>
          {% endfor %}
        </ul>
      </div>
    
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="float:right">
          filter status
        </button>
        <ul class="dropdown-menu" >
          <li><a class="dropdown-item" href="/viewComplaints">All</a></li>
          <li><a class="dropdown-item" href="/filterStatus/Unsolved">Unsolved</a></li>
          <li><a class="dropdown-item" href="/filterStatus/Pending">Pending</a></li>
          <li><a class="dropdown-item" href="/filterStatus/Completed">Completed</a></li>
        </ul>
      </div>
    </div>
    <table class="table align-middle">
        <thead>
            <tr>
              <th>Student Name</th>
              <th> Year</th>
              <th> Major</th>
              <th>Complainted Date</th>
              <th>Issue Type</th>
              <th>Issue</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody id="search-table-body">
          {% if count == 0 %}
            <tr>
              <td colspan="8"><h5 style="color: grey">There is no data ...</h5></td>
            </tr>
          {% else %}
            {% for complaint in complaints: %}
            <tr>
              <td class="searchedvalue">{{ students[complaint.student_id]['name'] }}</td>
              <td class="searchedvalue">{{ students[complaint.student_id]['year']}}</td>
              <td class="searchedvalue">{{ students[complaint.student_id]['major']}}</td>
              <td>{{ complaint.date }}</td>
              <td class="searchedvalue" >{{ categories[complaint.category_id] }}</td>
              <td>{{ complaint.complaint_letter}}</td>
              <td>
                <small {% if complaint.status== 'Unsolved' %} class="badge text-bg-danger rounded-5" 
                {% elif complaint.status== 'Pending' %} class="badge text-bg-warning rounded-5" 
                {% elif complaint.status== 'Completed' %} class="badge text-bg-success rounded-5" {% endif %}>
                {{ complaint.status }}
                </small>
              </td>
              <td><a class="btn btn-primary rounded-5" onclick="changeState({{complaint.id}})">change</a></td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
    </table>
  </div>

  <div id="myModalChangeState" class="modalChangeState">
    <div class="modalbgstate">
        <a class="closeChangeState">&times;</a>
        <h3>Change State</h3>
        <hr class="mb-3">
        <form id="stateform">
          <small id="showerror" class="text-danger my-2"></small>
          <select class="form-select mb-4" name="state" id="modalstate">
            <option value="">Select State</option>
              <option value="Unsolved">Unsolved</option>
              <option value="Pending">Pending</option>
              <option value="Completed">Completed</option>
          </select>
          <button type="submit" id="confirmChangeState" class="btn btn-success">Save</button>
          <a class="cancelstate btn btn-secondary">Cancel</a>
        </form>
    </div>
  </div>

<script src="{{ url_for('static', filename='javascript/changestate.js') }}"></script>

{% endblock %}