{% extends "adminlayout.html" %} {% block title %}Dashboard Page{% endblock%} {%
block content %}

<h2 class="my-3">Dashboard</h2>
<div class="container p-4 mb-5 rounded table-responsive">
  <div class="row">
    <div class="col">
      <div class="p-3 m-3 text-white rounded-3" style="background:rgb(255, 205, 86)">
        <h4>Categories</h4>
        <h5>Total Categories: {{ allcount['countcat'] }}</h5>
      </div>
    </div>
    <div class="col">
      <div class="p-3 m-3 text-white rounded-3" style="background:rgb(75, 192, 192)">
        <h4>Registered Users</h4>
        <h5>Total users: {{ allcount['countst'] }}</h5>
      </div>
    </div>
    <div class="col">
      <div class="p-3 m-3 text-white rounded-3" style="background:rgb(153, 102, 255)">
        <h4>Complaints</h4>
        <h5>Total complaints: {{ allcount['countcom'] }}</h5>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="barchart">
        <canvas id="chart1"></canvas>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="donutchart">
        <canvas id="chart2"></canvas>
      </div>
    </div>
  </div>
</div>
<script>
  var ctx1 = document.getElementById('chart1');
  const labelarr = {{ category_labels | tojson }};

  var myChart1 = new Chart(ctx1, {
      type: 'bar',
      data: {
          labels: labelarr,
          datasets: [{
              label: 'Complaints by category issue',
              data: {{ category_values }},
              backgroundColor: [
              'rgba(54, 162, 235, 0.4)',
              ],
              borderColor: [
              'rgb(54, 162, 235)',
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  var ctx2 = document.getElementById('chart2');
  const labelarr2 = {{ status_labels | tojson }};

  var myChart1 = new Chart(ctx2, {
      type: 'doughnut',
      data: {
          labels: labelarr2,
          datasets: [{
              label: 'Complaints Status',
              data: {{ status_values }},
              backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)',
              ],
              borderColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)',
              ],
              borderWidth: 1
          }]
      },
      
  });
</script>
{% endblock %}
