{% extends "adminlayout.html" %} {% block title %}Student Page{% endblock%} 
{% block content %}
<h2 class="mt-4">Need to Reset Password Account</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == 'resetsuccess' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
<div class="shadow-sm p-3 mb-5 rounded table-responsive">
  <table class="table align-middle">
      <thead>
          <tr>
            <th>Student Name</th>
            <th>Email</th>
            <th>Year</th>
            <th>Major</th>
            <th>Reason for Reset Password</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody id="search-table-body">
          {% if count == 0 %}
          <tr>
            <td colspan="6"><h5 style="color: grey">There is no data ...</h5></td>
          </tr>
          {% else %}
            {% for account in accounts: %}
            <tr>
                <td class="searchedvalue">{{ students[account.student_id]['name']}}</td>
                <td class="searchedvalue">{{ students[account.student_id]['email']}}</td>
                <td>{{ students[account.student_id]['year'] }}</td>
                <td>{{ students[account.student_id]['major'] }}</td>
                <td>{{ account.reason }}</td>
                <td> 
                <a class="btn btn-success" href="/resetPassword/{{ account.student_id }}" >Reset Password</a>            
                </td> 
            </tr>
            {% endfor %}
          {% endif %}
      </tbody>
  </table>
</div>

{% endblock %}