{% extends "clientlayout.html" %} {% block title %}Student Complaint form{% endblock%} 
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for flag, message in messages %}
            {% if flag == 'complaintsformerror' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif flag == 'complaintsformsuccess' %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-8 col-lg-5 col-12 body rounded-5 p-3 bg-white shadow box-area">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="w-100">
                    <div class="header-text mb-4 text-center">
                        <h2>Student Complaint Form</h2>
                        <p class="text-muted">Please use this form to voice any concerns</p>
                    </div>
                    <form method="POST">
                        <div class="mb-3 d-flex align-items-center">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="name" value="{{user.student_name}}" disabled readonly>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <label for="year" class="form-label">Academic Year</label>
                            <input type="year" class="form-control" name="year" id="year" value="{{user.student_year}}" disabled readonly>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <label for="major" class="form-label">Major</label>
                            <input type="major" class="form-control" name="major" id="major" value="{{user.student_major}}" disabled readonly>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <label for="category" class="form-label">Issue Type</label>
                            <select class="form-select" name="category" id="category" required>
                                <option value="">Select a category</option>
                                {% for cat in category: %}
                                <option value="{{cat.id}}">{{ cat.cat_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label for="complaintDetails" class="form-label">Complaints Details</label>
                            <textarea class="form-control" name="complaintDetails" id="complaintDetails" rows="4" placeholder="Tell about your problem in Details" required></textarea>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input class="form-check-input m-1" type="checkbox" id="agree" name="agree">
                            <label class="form-check-label" for="agree">
                                Yes, I agree to <a class="link-underline-primary" data-bs-toggle="modal" data-bs-target="#termNconditionModal"> the Terms and Conditions. </a>
                            </label>
                        </div>
                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-lg btn-primary w-100 fs-6 rounded-5" id="submitcomplaint" disabled>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
  <!-- Modal -->
  <div class="modal fade" id="termNconditionModal" tabindex="-1" aria-labelledby="termNconditionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Terms and Conditions</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="aboutus-text">
                You should read these terms and conditions to understand our
                regulations and policy. This system is a critical part of the
                school to reflect the students voice. As the complexity and number
                of complaints increase, we need to take time and costs to provide
                a solution to each problem.
              </p>
              <p class="aboutus-text">
                Fake registered accounts and ineffective complaints can reduce the
                speed of the problem solution steps. These terms and conditions
                apply to students of the Info Myanmar University.
              </p>
              <h5>General terms and conditions</h5>
                <p>
                    <ul>
                        <li> 
                            Students should add real information such as his/her real name, currently
                            using email and major and year that he/she is actually
                            attending in your registration form.
                        </li>
                        <li>
                            Students should report a complaint form with accurate and
                            suitable reason.
                        </li>
                    </ul>
                </p>
                <h5>Regulations and policy</h5>
                  <p>
                    <ul>
                        <li>
                            Students should agree to the terms and conditions of this
                            system. If you don’t agree, you will not be able to submit a
                            complaint form.
                        </li>
                        <li>
                            Fake registered accounts will be deleted by the system
                            admin.
                        </li>
                        <li>
                            Complaints with no reasons will not be considered to take an
                            action.
                        </li>
                    </ul>
                  </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <script src="{{ url_for('static', filename='javascript/checkedndisabled.js') }}"></script>

{% endblock %}