{% extends "clientlayout.html" %} {% block title %}Home Page{% endblock%} 
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for flag, message in messages %}
            {% if flag == 'complaintsformerror' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif flag == 'complaintsformsuccess' %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container complaintform shadow p-3 my-5 bg-body-tertiary rounded">
        <h2 class="text-center">Student Complaint Form</h2>
        <p class="form-caption">Please use this form to voice any concerns</p>

        <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/reg_photo.jpg') }}" class="img-fluid rounded-4 align-items-center h-100 w-100" style="object-fit:cover;">
        </div>
        <div class="col-md-6">
        <form method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name" value="{{user.student_name}}" disabled readonly>
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Year</label>
                <input type="year" class="form-control" name="year" id="year" value="{{user.student_year}}" disabled readonly>
            </div>
            <div class="mb-3">
                <label for="major" class="form-label">Major</label>
                <input type="major" class="form-control" name="major" id="major" value="{{user.student_major}}" disabled readonly>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Report Title</label>
                <select class="form-select" name="category" id="category">
                    <option value="">Select a category</option>
                    {% for cat in category: %}
                        <option value="{{cat.id}}">{{ cat.cat_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="complaintDetails" class="form-label">Tell about your problem in Details</label>
                <textarea class="form-control" name="complaintDetails" id="complaintDetails" rows="4" placeholder="Describe your inconvenience here"></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100" id="liveToastBtn">Submit</button>
        </form>
    </div>




</div>
    </div> 

{% endblock %}