{% extends "clientlayout.html" %} {% block title %}Student Complaint form{% endblock%} 
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for flag, message in messages %}
            {% if flag == 'complaintsformerror' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif flag == 'complaintsformsuccess' %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-8 col-lg-6 col-12 body rounded-5 p-3 bg-white shadow box-area">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="w-100">
                    <div class="header-text mb-4 text-center">
                        <h2>Student Complaint Form</h2>
                        <p class="text-muted">Please use this form to voice any concerns</p>
                    </div>
                    <form method="POST">
                        <div class="mb-3 d-flex align-items-center">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="name" id="name" value="{{user.student_name}}" disabled readonly>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <label for="year" class="form-label">Academic Year</label>
                            <input type="year" class="form-control" name="year" id="year" value="{{user.student_year}}" disabled readonly>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <label for="major" class="form-label">Major</label>
                            <input type="major" class="form-control" name="major" id="major" value="{{user.student_major}}" disabled readonly>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <label for="category" class="form-label">Complaint Factor</label>
                            <select class="form-select" name="category" id="category">
                                <option value="">Select a category</option>
                                {% for cat in category: %}
                                    <option value="{{cat.id}}">{{ cat.cat_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="complaintDetails" class="form-label">Tell me about your problem</label>
                            <textarea class="form-control" name="complaintDetails" id="complaintDetails" rows="4" placeholder="Tell about your problem in Details"></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    

{% endblock %}